<div class="wrapper">
  <h2>Add a New Donor:</h2>

  <%= form_for @donor do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %><br /><br>

    <%= f.label :email %>:
    <%= f.text_field :email %><br /><br>

    <%= f.label :phone %>:
    <%= f.text_field :phone %><br /><br>

    <%= f.label :ready %>:
    <%= f.date_field :ready %><br /><br>

    <%= f.label :bloodtype %>:
    <%= f.collection_select(:bloodtype_id, Bloodtype.all, :id, :group )%><br /><br>

    <%= f.submit :submit %>
  <% end %>
</div>
