<!-- <div class="big-wrapper"> -->
	<div class="wrapper">
		<h1 class="header"><span id="blood">Blood</span><span id="cell">Cell</span></h1>
			<div id="slogan"><span id="powered">powered by</span> <span id="badhan">BADHAN</span></div>
			<div class="login-form">
				<h3 class="login">Log In</h3>

				<%= form_tag log_in_path do %> 
				<%= label_tag :username %>
				<br>
				<%= text_field_tag :username %>
				</br></br>

				<%= label_tag :password %>
				<br>
				<%= text_field_tag :password %>
				</br></br>

				<span id="login"><%= submit_tag value="Log In" %></span>

				<% end %>
			</div>
			<div class="signin">
				<h3>New User: </h3>
				<!-- <%=link_to "Sign up", new_user_path %> -->



				<span id="link-tag"><%=link_to "Sign up", new_user_path %><span>
			</div>
		
<!-- </div> -->

